!!! 5
html
  head
    title Roller
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=0.96, maximum-scale=0.96, minimum-scale=0.96', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    header
      ol
        li#feed(title='Feed')

    .wrapper
      block content

      #footer