!!! 5
html
  head
    title Roller
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=0.96, maximum-scale=0.96, minimum-scale=0.96', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    header
      ol
        li#feed
        if session.email
          li#add-image
          li#add-text
          li#logout
        else
          li#login

    .wrapper
      form(method='post', action='/roller', id='roller-form', enctype='multipart/form-data')
        input(type='file', name='message')
        select(name='type')
          option(value='text') Text
          option(value='image') Image
        select(name='mood')
          option(value='/images/mood-1.png') Calm
          option(value='/images/mood-2.png') Happy
        button(type='submit') Add
      ol#rollers

      #footer

    script(src='https://login.persona.org/include.js', type='text/javascript')
    script(src='/javascripts/require.js', data-main='/javascripts/main')
