!!! 5
html
  head
    title Roller
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=0.96, maximum-scale=0.96, minimum-scale=0.96', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    header
      ol
        li#feed(title='Feed')
        if session.email
          li#add-image(title='Upload image')
          li#add-text(title='Add text')
          li#liked(title='View liked posts')
          li#logout(title='Log out')
        else
          li#login(title='Log in')

    .wrapper
      if session.email
        form(method='post', action='/roller', id='roller-form', enctype='multipart/form-data')
          input(type='file', name='message', size='15')
          select(name='type')
            option(value='text') Text
            option(value='image') Image
          button(type='submit') Add
          a(class='close') X
      h1 Recent
      ol#rollers

      #footer

    script(src='https://login.persona.org/include.js', type='text/javascript')
    script(src='/javascripts/require.js', data-main='/javascripts/main')
